.git
.gitignore
.gitattributes

__pycache__
*.py[cod]
*$py.class
*.so
.Python
*.egg-info
dist/
build/
*.egg
.eggs/
pip-log.txt
pip-delete-this-directory.txt

venv/
env/
ENV/
.venv

tests/
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/

README.md
LICENSE
*.md

scripts/
helper-scripts/

examples/

hardhat-node/
tester-contract/
tests/tester-contract/

node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

Dockerfile
docker-compose.yml
.dockerignore

tests/data-volumes/

.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

.github/
