language: python
python:
  - '3.7'
os: linux
dist: bionic
cache: pip
install:
  - pip install -r requirements.txt
  - pip install -r requirements-dev.txt
before_script:
  - "flake8 ."
jobs:
  include:
    - stage: test
      before_script:
        - flake8 .
      script:
        - git submodule update --remote
        - bash helper-scripts/run_ganache.sh
        - bash scripts/run_tests.sh
    - stage: deploy
      if: branch IN (develop, beta, stable, master)
      script:
        - VERSION=$(BRANCH=$TRAVIS_BRANCH bash ./scripts/calculate_version.sh)
        - BRANCH=$TRAVIS_BRANCH
        - echo "Version $VERSION"
        - export VERSION=$VERSION
        - export BRANCH=$BRANCH
        - export RELEASE=true
        - bash ./scripts/build.sh
      before_deploy:
        # Set up git user name and tag this commit
        - (
          test ! $TRAVIS_TAG &&
          git config --local user.name "skale-travis" &&
          git config --local user.email "$GITHUB_EMAIL" &&
          export TRAVIS_TAG=$VERSION &&
          git tag "$TRAVIS_TAG" &&
          git push https://$GITHUB_OAUTH_TOKEN@github.com/$TRAVIS_REPO_SLUG.git $TRAVIS_TAG
          ) || true
      deploy:
        - provider: releases
          api_key: "$GITHUB_OAUTH_TOKEN"
          skip_cleanup: true
          name: $VERSION @ $(date +'%d.%m.%Y %R')
          on:
            repo: $TRAVIS_REPO_SLUG
            branch: master
        - provider: releases
          api_key: "$GITHUB_OAUTH_TOKEN"
          skip_cleanup: true
          prerelease: true
          name: $VERSION @ $(date +'%d.%m.%Y %R')
          on:
            repo: $TRAVIS_REPO_SLUG
            branch:
              - develop
              - beta
              - stable
        - provider: script
          skip_cleanup: true
          script: BRANCH=$TRAVIS_BRANCH RELEASE=false bash $TRAVIS_BUILD_DIR/scripts/publish.sh
          on:
            repo: $TRAVIS_REPO_SLUG
            branch:
              - develop
              - beta
              - stable
